<aside class="column sidenav is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <a class="navbar-brand js-scroll-trigger" href="#about">
        <span class="name">Gabriely Rodrigues</span>
        <span class="image-wrapper">
            <%= image_tag("gaby.jpeg", class: "image", alt: "Gabriely Rodrigues")%>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-list">
            <li class="item">
                <a class="link js-scroll-trigger" href="/">blog</a>
            </li>
            
            <li class="item">
                <%= link_to 'About', about_path, class: "link js-scroll-trigger" %>
            </li>
            <li class="item">
                <a class="link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="item">
                <a class="link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="item">
                <a class="link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="item">
                <a class="link js-scroll-trigger" href="#interests">Interests</a>
            </li>

            <hr class="hr" />

            <div class="navbar-actions">
                <div class="buttons">
                    <% unless user_signed_in? %>
                        <a class="button login" href='/users/sign_up'>
                            <strong>Cadastre-se</strong>
                        </a>
                        <a class="button login" href='/users/sign_in'>
                            Entrar
                        </a>
                    <% end %>  
                    <% if user_signed_in? %>
                        <a class="button" href='/posts/new'>+ Novo post</a>
                        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'button login'  %>
                    <% end %>
                </div>
            </div>
        </ul>

    </div>
    

</aside>