<!-- about -->
<section class="about-section" id="about">
    <div class="content">
        <h1 class="name">Gabriely <span class="lastname">Rodrigues</span></h1>
        <div class="info">
            <p>Fortaleza, Ceará · </p>
            <a class="link" href="mailto:name@email.com">gabyrlima.99@gmail.com</a>
        </div>
        <p class="description">
            I am a web developer who loves technology and front-end world.
        </p>
        <p class="description">
            When I'm not involved in coding and learning things related to it, I enjoy a lot binge watching series and I really
            love going to the beach whenever I can. I also love photography, cooking and reading books :)
        </p>
        <div class="social-icons">
            <a class="icon" href="https://www.linkedin.com/in/gabrielyrodrigues/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="icon" href="https://github.com/gabyrodrigues/" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- experience -->
<section class="page-section" id="experience">
    <div class="content">
        <h2 class="title">Experience</h2>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Front-end intern</h3>
                <h4 class="company">Bleez e-commerce</h4>
                <p class="description">
                    - Front-end development of Magento E-commerces using HTML, CSS/SASS and Javascript + Jquery.
                </p>
                <p class="description">
                    - Maintenance of Wordpress pages using HTML, CSS/SASS, Javascript + Query and a little php.
                </p>
            </div>
            <div class="period">
                <span class="text">August 2019 - Present</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Web developer intern</h3>
                <h4 class="company">ágilgpr</h4>
                <p class="description">
                    - Front-end and back-end development of web-responsive MVP's using HTML, CSS/Bootstrap, Ruby on Rails, 
                    Javascript + Jquery and Postgres as DBMS.
                </p>
                <p class="description">
                    - Front-end development of landing pages using HTML, CSS/Boostrap and Javascript + Jquery.
                </p>
            </div>
            <div class="period">
                <span class="text">April 2018 - August 2019</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Web developer intern</h3>
                <h4 class="company">Apta</h4>
                <p class="description">
                    - Software Development on Ruby on Rails, Inspire Designer tool
                    and Postgres as DBMS.
                </p>
                <p class="description">
                    - Provision of services to ágilgpr for the development of an ERP.
                </p>
            </div>
            <div class="period">
                <span class="text">June 2016 - November 2016</span>
            </div>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- education -->
<section class="page-section" id="education">
    <div class="content">
        <h2 class="title">Education</h2>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Federal University of Ceará</h3>
                <h4 class="company">Digital media and systems</h4>
            </div>
            <div class="period">
                <span class="text">2017.2 - 2021.2</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">EEEP José de Barcelos</h3>
                <h4 class="company">Integrated High School in IT</h4>
            </div>
            <div class="period">
                <span class="text">2014 - 2016</span>
            </div>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- Skills-->
<section class="page-section" id="skills">
    <div class="content">
        <h2 class="title">Skills</h2>
        <p class="subtitle">Programming Languages & Tools</p>
        <ul class="dev-list">
            <li class="item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="item">
                <i class="fab fa-react"></i>
            </li>
            <li class="item">
                <i class="fab fa-node"></i>
            </li>
            <li class="item">
                <i class="fab fa-sass"></i>
            </li>
            <li class="item">
                <i class="fab fa-bootstrap"></i>
            </li>
            <li class="item">
                <i class="fab fa-github"></i>
            </li>
        </ul>
        <p class="subtitle">Workflow</p>
        <ul class="skills-list">
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Mobile-First, Responsive Design
            </li>
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Cross Browser Testing & Debugging
            </li>
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>
<hr class="hr" />