<!-- about -->
<section class="about-section" id="about">
    <div class="content">
        <h1 class="name">Gabriely <span class="lastname">Rodrigues</span></h1>
        <div class="info">
            <p>Fortaleza, Ceará · </p>
            <a class="link" href="mailto:name@email.com">gabyrlima.99@gmail.com</a>
        </div>
        <p class="description">Lorem ipsum describing myself :)</p>
        <div class="social-icons">
            <a class="icon" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="icon" href="#">
                <i class="fab fa-github"></i>
            </a>
            <a class="icon" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="icon" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- experience -->
<section class="page-section" id="experience">
    <div class="content">
        <h2 class="title">Experience</h2>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Frontend intern</h3>
                <h4 class="company">Bleez e-commerce</h4>
                <p class="description">
                    Bring to the table win-win survival strategies to ensure proactive domination. 
                    At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading 
                    towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
            </div>
            <div class="period">
                <span class="text">August 2019 - Present</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Web developer intern</h3>
                <h4 class="company">ágilgpr</h4>
                <p class="description">
                    Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. 
                    Override the digital divide with additional clickthroughs from DevOps. 
                    Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                </p>
            </div>
            <div class="period">
                <span class="text">April 2018 - August 2019</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Web developer intern</h3>
                <h4 class="company">Apta</h4>
                <p class="description">
                    Podcasting operational change management inside of workflows to establish a framework. 
                    Taking seamless key performance indicators offline to maximise the long tail. 
                    Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on 
                    cross-platform integration.
                </p>
            </div>
            <div class="period">
                <span class="text">June 2016 - November 2016</span>
            </div>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- education -->
<section class="page-section" id="education">
    <div class="content">
        <h2 class="title">Education</h2>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">Federal University of Ceará</h3>
                <h4 class="company">Digital media and systems</h4>
            </div>
            <div class="period">
                <span class="text">2017.2 - 2021.2</span>
            </div>
        </div>
        <div class="section-block">
            <div class="wrapper">
                <h3 class="title">EEEP José de Barcelos</h3>
                <h4 class="company">Integrated High School in IT</h4>
            </div>
            <div class="period">
                <span class="text">2014 - 2016</span>
            </div>
        </div>
    </div>
</section>
<hr class="hr" />
<!-- Skills-->
<section class="page-section" id="skills">
    <div class="content">
        <h2 class="title">Skills</h2>
        <p class="subtitle">Programming Languages & Tools</p>
        <ul class="dev-list">
            <li class="item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="item">
                <i class="fab fa-react"></i>
            </li>
            <li class="item">
                <i class="fab fa-node"></i>
            </li>
            <li class="item">
                <i class="fab fa-sass"></i>
            </li>
            <li class="item">
                <i class="fab fa-bootstrap"></i>
            </li>
            <li class="item">
                <i class="fab fa-github"></i>
            </li>
        </ul>
        <p class="subtitle">Workflow</p>
        <ul class="skills-list">
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Mobile-First, Responsive Design
            </li>
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Cross Browser Testing & Debugging
            </li>
            <li class="item">
                <span class="fa-li"><i class="fas fa-check"></i></span>Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>
<hr class="hr" />
<!-- Interests-->
<section class="page-section" id="interests">
    <div class="content">
        <h2 class="title">Interests</h2>
        <p class="text">
            Apart from being a web developer, I enjoy most of my time being outdoors. 
            In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, 
            I enjoy mountain biking, free climbing, and kayaking.
        </p>
        <p class="text">
            When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, 
            I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements
            in the front-end web development world.
        </p>
    </div>
</section>
<hr class="hr" />