@media (min-width: 992px) {
	.main-content {
		padding-top: 0;
		padding-left: 16rem;

		> .sidenav {
			background-color: #333;
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			padding-top: 60px;
			height: 100vh;

			.name {
				display: none;
			}
		}
	}	

	.navbar-brand {
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}

	.image-wrapper {
		border: 0.5rem solid rgba(255, 255, 255, 0.2);
		border-radius: 50% !important;
		display: block;
		max-width: 10rem;
		max-height: 10rem;
		
		> .image {
			border-radius: 50% !important;
			height: auto;
		}
	}

	.navbar-toggler {
		display: none;
	}

	.navbar-collapse {
		align-items: flex-start;
		flex-grow: 0;
		margin-bottom: auto;
		padding-top: 20px;
		width: 100%;
	}
}

.sidenav {
	display: flex;
}

.navbar-collapse {
	display: block;
}

.navbar-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;

	> .item {
		> .link {
			color: rgba(255, 255, 255, 0.5);
			display: flex;
			font-weight: 800;
			justify-content: center;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			padding: 10px;
	
			&:hover {
				color: #2fa092;
			}
		}
	}

	> .hr {
		background-color: rgba(255, 255, 255, 0.5);
		margin: 20px 0;
	}
}

.navbar-actions {
	> .buttons {
		.button {
			background-color: #2fa092;
			border: none;
			color: #fff;
			font-family: 'Muli', sans-serif;
			font-size: 15px;
			font-weight: 700;
			margin-right: 0 !important;
			width: 100%;	

			&:hover {
				background-color: darken(#2fa092, 10%);
			}

			&.login {
				background-color: #b1b1b1;

				&:hover {
					background-color: darken(#b1b1b1, 10%);
				}
			}

		}
	}
}