.main-content {
	> .sidenav {
		background-color: #333;
		display: flex;
		flex-direction: column;
		height: 100vh;
		left: 0;
		overflow: auto;
		padding-top: 60px;
		position: fixed;
		text-align: center;
		top: 0;
	}
}

.navbar-name {
	display: flex;
	margin: auto auto 0;
	padding: 0.5rem;

	> .name {
		color: #fff;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 30px;
	}
}

.image-wrapper {
	border: 0.5rem solid rgba(255, 255, 255, 0.2);
	border-radius: 50% !important;
	display: block;
	max-width: 10rem;
	max-height: 10rem;
	
	> .image {
		border-radius: 50% !important;
		height: auto;
	}
}


.navbar-collapse {
	display: block;

	.list {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
	
		> .item {
			> .link {
				color: rgba(255, 255, 255, 0.5);
				display: flex;
				font-weight: 800;
				justify-content: center;
				letter-spacing: 0.05rem;
				text-transform: uppercase;
				padding: 10px;
		
				&:hover {
					color: #2fa092;
				}
			}
		}
	
		> .hr {
			background-color: rgba(255, 255, 255, 0.5);
			margin: 20px 0;
		}
	}
}



.navbar-actions {
	> .buttons {
		.button {
			background-color: #2fa092;
			border: none;
			color: #fff;
			font-family: 'Muli', sans-serif;
			font-size: 15px;
			font-weight: 700;
			margin-right: 0 !important;
			width: 100%;	

			&:hover {
				background-color: darken(#2fa092, 10%);
			}

			&.login {
				background-color: #b1b1b1;

				&:hover {
					background-color: darken(#b1b1b1, 10%);
				}
			}

		}
	}
}



@media (min-width: 769px) {
	.main-content {
		padding-top: 0;
		padding-left: 16rem;
		justify-content: space-around;

		> .sidenav {
			.name {
				display: none;
			}
		}
	}	

	.nav-wrapper {
		> .burger {
			display: none;
		}
	}

	.navbar-collapse {
		align-items: flex-start;
		flex-grow: 0;
		margin-bottom: auto;
		padding-top: 20px;
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.main-content {
		padding-left: 10rem;
	}
}

@media (max-width: 768px) {
	.main-content {
		margin: 0 !important;

		> .column {
			padding: 20px;
		}

		> .sidenav {
			height: auto;
			margin: 0;
			padding: 0;
			position: fixed;
			overflow: hidden;
			z-index: 1;

			> .collapse {
				max-height: 0;
			}

			&.responsive {

				> .collapse {
					max-height: 350px;
					transition: max-height 0.5s linear;
					
					> .list {
						border-top: 2px solid rgba(255, 255, 255, 0.5);

						> .item {
							> .link {
								justify-content: flex-start;
								padding: 10px 20px;
							}
						}

						> .hr {
							margin: 10px 0;
						}
					}
				}
			}
		}
	}

	.navbar-actions {
		> .buttons {
			padding: 10px 20px;
		}
	}

	.nav-wrapper {
		align-items: center;
		display: flex;
		padding: 10px 20px;

		> .burger {
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 5px;
			color: #fff;
			padding: 10px;

			span {
				width: 20px;
				left: calc(50% - 9px);
			}
		}
	}

	.navbar-name {
		margin: 0;
		padding: 10px 0;

		> .image-wrapper {
			display: none;
		}
	}
}